parameters:
	ignoreErrors:
		-
			rawMessage: Access to protected property chillerlan\HTTP\HTTPOptions::$ca_info.
			identifier: property.protected
			count: 1
			path: src/ChillerlanHttpClientFactory.php

		-
			rawMessage: Access to protected property chillerlan\HTTP\HTTPOptions::$user_agent.
			identifier: property.protected
			count: 1
			path: src/ChillerlanHttpClientFactory.php

		-
			rawMessage: Cannot unset property chillerlan\PHPUnitHttpTest\PHPUnitHttpFactoryTestAbstract::$REQUEST_FACTORY because it might have hooks in a subclass.
			identifier: unset.possiblyHookedProperty
			count: 1
			path: tests/PHPUnitHttpFactoryTestAbstract.php

		-
			rawMessage: Cannot unset property chillerlan\PHPUnitHttpTest\PHPUnitHttpFactoryTestAbstract::$httpClient because it might have hooks in a subclass.
			identifier: unset.possiblyHookedProperty
			count: 1
			path: tests/PHPUnitHttpFactoryTestAbstract.php

		-
			rawMessage: Cannot unset property chillerlan\PHPUnitHttpTest\PHPUnitHttpFactoryTestAbstract::$httpClientFactory because it might have hooks in a subclass.
			identifier: unset.possiblyHookedProperty
			count: 1
			path: tests/PHPUnitHttpFactoryTestAbstract.php
